# URL del API de Zabbix
ZBX_URL="https://tu-zabbix.com/api_jsonrpc.php"

# Token de API con permisos para gestionar mantenimientos
ZBX_APITOKEN="tu_token_aqui"

# Sector (usado para generar la key de Zabbix: mantenimientos.SECTOR)
SECTOR="fallback"

# Prefijo que contendrán todos los nombres de los mantenimientos gestionados por este proyecto
PREFIX_MAINTENANCE_NAME="[Web Mantenimientos] "

# Lista de hosts/grupos (separados por comas)
# Util si trabajamos siempre con los mismos hosts/hostgroups
HOSTNAMES="Servidor1, Servidor2"
GROUPNAMES="Grupo1, Grupo2"

